<div class="container">
    <div class="contents-header">
        <h5 class="header-text">
            マイページ
        </h5>
    </div>
    <div class="customer-details">
        <div class="customer-link-index"><h5>登録情報</h5></div>
        <div class="customer-link">
            <div class="btn"><%= link_to "編集する", edit_customers_path, class:"btn btn-success" %></div>
        </div>
        <div class="customer-table">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="table-active">氏名</td>
                  <td><%= @customer.name %></td>
                </tr>
                <tr>
                  <td class="table-active">カナ</td>
                  <td><%= @customer.name_kana %></td>
                </tr>
                <tr>
                  <td class="table-active">郵便番号</td>
                  <td><%= @customer.postal_code %></td>
                </tr>
                <tr>
                  <td class="table-active">住所</td>
                  <td><%= @customer.address %></td>
                </tr>
                <tr>
                  <td class="table-active">電話番号</td>
                  <td><%= @customer.telephone_number %></td>
                </tr>
                <tr>
                  <td class="table-active">メールアドレス</td>
                  <td><%= @customer.email %></td>
                </tr>
              </tbody>
            </table>
            <div class="customer-link">
                <div class="customer-link-index">
                    <h5>配送先</h5>
                </div>
                <div class="customer-link-button"><%= link_to "一覧を見る", addresses_path, class:"btn btn-primary" %></div>
            </div>
            <div class="customer-link">
                <div class="customer-link-index">
                    <h5>注文履歴</h5>
                </div>
                <div class="customer-link-button"><%= link_to "一覧を見る", orders_path, method: :get, class:"btn btn-primary" %></div>
            </div>
        </div>
    </div>
</div>