<div class="container">
  <div class="contents-header">
    <h5 class="header-text">商品詳細</h5>
  </div>
  <div class="row">
    <div class="col-4 item-image">
      <%= attachment_image_tag @item,:image, :fill,300, 235, fallback: "noimage.png"%>
    </div>
    <div class="col-8 ">
    <table class="table table-borderless item-details">
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>税込価格（税抜価格）</td>
            <td><%= @item.price %></td>
          </tr>
        </tbody>
      </table>
      <div class="item-button">
      <a class="btn btn-success" href="/admin/items/<%= @item.id %>/edit">編集する</a>
      </div>
      </div>
  </div>
</div>