<div class="container">
  <div class="contents-header">
   <h5 class="header-text">会員一覧</h5>
  </div>
  <div class="row-4">
      <table class="table customers-table">
        <thead>
          <tr>
            <th scope="col">会員ID</th>
            <th scope="col">氏名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><a href="/admin/customers/<%= customer.id %>"><%= customer.last_name %><%= customer.first_name %></a></td>
            <td><%= customer.email %></td>
            <td class="customer-status"><%= customer.is_active? ? '有効' : '退会'  %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>