<div class="container">
  <div class="contents-header">
    <h5 class="header-text">ジャンル一覧・追加</h5>
  </div>
  <div class="genres">
    <div class="genre-form form-inline">
      <label class="form-inline">ジャンル名</label>
      <%= form_with model:@genre, url:admin_genres_path, local:true do |f| %>
        <%= f.text_field :name, class:"form-control genre-new-form", placeholder:"ジャンル名" %>
        <%= f.submit  '新規登録',class:"btn btn-success genre-button"  %>
        <% end %>
    </div>
      <div class="genre-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><a class="btn btn-success" href="/admin/genres/<%= genre.id %>/edit">編集する</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <div class="col-2">
    </div>
    <div class="col-5"></div>
  </div>
</div>