<div class="container">
  <div class="header">
    <h5>注文情報入力</h5>
  </div>
  <%= form_with model:@order, url: confirm_orders_path,method: :post, local: true do |f| %>
  <div class="payment_method">
    <div class="customer-order-index"><h7>支払い方法</h7></div>
    <div class="customer-payment-method">
      <div><%= f.radio_button :payment_method, :card, checked: "checked" %>
            <%= f.label :クレジットカード, class: "payment_method" %></div>
      <div><%= f.radio_button :payment_method, :cash %>
            <%= f.label :銀行振り込み, class: "payment_method" %></div>
    </div>
  </div>
  <div class="addresses">
    <div class="customer-order-index"><h7>お届け先</h7></div>
    <div class="customer-addresses">
      <%= f.radio_button :address_order, 0 %><p>ご自身の住所</p>
      <%= f.label current_customer.postal_code %>
      <%= f.label current_customer.address %>
       <%= f.label current_customer.last_name %>
    </div>
    </div>
     <div class="customer-addresses"><%= f.radio_button :address_order,1 %>新しいお届け先</div>
     <div class="customer-addresses-new">
        <div class="address-field">郵便番号（ハイフン無し）<%= f.text_field :postal_code  %></div>
        <div class="address-field">住所<%= f.text_field :address  %></div>
        <div class="address-field">宛名<%= f.text_field :name  %></div>
     </div>
      <%= f.submit "確認画面へ進む" %>
  <% end %>
</div>