<div class="container">
  <div class="contents-header">
    <div class="header-text"><h5>注文履歴詳細</h5></div>
  </div>
   <div class="order_detail-tables">
      <div class="order-table">
        <div class="order-show"><h5>登録情報</h5></div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-active">注文日</td>
              <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            </tr>
            <tr>
              <td class="table-active">配送先</td>
              <td>〒<%= @order.postal_code %></br><%= @order.address %><br><%= @order.name %></td>
            </tr>
            <tr>
              <td class="table-active">支払い方法</td>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <td class="table-active">ステータス</td>
              <td><%=  %></td>
            </tr>
          </tbody>
        </table>
      </div>
       <div class="order-table">
        <div class="order-show"><h5>請求情報</h5></div>
         <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="table-active">商品合計</td>
              <td><%= @order.total_payment %></td>
            </tr>
            <tr>
              <td class="table-active">配送料</td>
              <td><%= @order.shipping_fee %></td>
            </tr>
            <tr>
              <td class="table-active">ご請求額</td>
              <td><%= @order.total_payment + @order.shipping_fee %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
       <div class="order-item-table">
        <div class="order-show"><h5>注文商品</h5></div>
         <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="table-active">商品</th>
              <th scope="col" class="table-active">単価</th>
              <th scope="col" class="table-active">個数</th>
              <th scope="col" class="table-active">小計</th>
            </tr>
          </thead>
          <tbody>
            <tr>
          <% @order.order_details.each do |order_detail| %>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.item.price * order_detail.amount %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>





</div>
